<div class="box">

<h1>Books</h1>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Body</th>
    </tr>
    </thead>

    <tbody>

    <% @bookers.each do |booker| %>
    <tr>
        <td><%= booker.title %></td>

        <td><%= booker.body %></td>

        <td><%= link_to 'show',booker_path(booker.id) %></td>

        <td><%= link_to 'Edit',edit_booker_path(booker.id) %></td>

        <td><%= link_to 'Destroy',booker_path(booker.id) %></td>
    </tr>
    <% end %>
    </tbody>

</table>

<h2>New Book</h2>

<%= form_with model: @booker do |f| %>

<div class="field"><p>Title</p>
<%= f.text_field :title %></div>

<div class="area"><p>Body</p>
<%= f.text_area :body %></div>

<%= f.submit'Create Book' %>

<% end %>

</div>