<div class="box">
 <div class="inbox">
  <div class="flash">
   <%= flash[:notice] %>
  </div>

    <p class="text-title"><strong>Title:</strong><%= @booker.title %></p>

    <p class="text-body"><strong>Body:</strong><%= @booker.body %></p>

    <p><%= link_to 'Edit',edit_booker_path %> | <%= link_to 'Back',bookers_path %></p>

  </div>
</div>